*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
}

.discount{
    text-align: center;
    height: 20px;
    background-color: rgb(185, 55, 168);
    color: white;
}

#more{
    display: none;
}

#read-more{
    color: #d3244e;
    font-size: 9px;
    margin: 0;
    outline: none;
    border: none;
    background-color: white;
    font-weight: 400;
    position: absolute;
    left: 50%;
  
}

.details{
    position: relative;
}

.details-header{
    text-align: center;
}

.head-banner{
    width: 100%;
    height: auto;
}

.maylike-products-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
    width: 180%;
}

.track:hover {
    animation-play-state: paused;
}

.track {
    animation: marquee 10s linear infinite;
    width: 550%;
}

.marquee {
    position: relative;
    height: 400px;
    width: 100%;
    overflow-x: hidden;
  }

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  .product-card{
    cursor: pointer;
     transform: scale(1, 1);
     transition: transform 2.5s ease;
    color: #324d67;
   
   }
   .product-card:hover{
     transform: scale(1.1,1.1)
   }
   .product-image{
     border-radius: 50%;
    background-color: #ebebeb;
     transform: scale(1, 1);
     transition: transform 2.5s ease;
   }
   
   .product-name{
     font-weight: 500;
     text-align: center;
   }

   .item-container{
    display: flex;
   }

   .row{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
   }

   .view-all{
    width: 100px;
   }
   .column{
    display: flex;
    flex-direction: column;
   }

   .item-card{
    width: 250px;
   }
   
   .item-card p {
    text-align: center;
   }
   .add-to-cart{
    width: 250px;
   }

